* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: hsl(212, 45%, 89%);
}
.container {
    display: grid;
    width: 320px;
    height: 500px;
    margin: 60px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}
img{
    display: block;
    width: 320px;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
}
h1{
    display: flex;
    text-align: center;
    font-size: 22px;
    padding: 5px 20px 0px 20px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    line-height: 25px;
    height: 60px;
}
p {
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 500;
    font-size: 15px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 30px;
}
@media screen and (max-width: 375px){
    .container {
        width: 320px;
        height: 500px;
        margin-top: 70px;
    }
    .qr-text{
        width: 90%;
    }
    .qr-text h2 {
        line-height: 28px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .qr-text p {
        color: hsl(220, 15%, 55%);
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 50px;
    }
}